.navItem {
    position: relative;
    width: 10%;
    font-family: 'Inter';
    font-style: normal;
    top: 10px;
    font-size: 19px;
    
    /* identical to box height */
   
    color: #6B6C6F !important;
    margin-right: 80px;
    margin-left: 30px;
    &:hover{
        font-size: 22px;
    }
}


.Menu {
   
    z-index: 100;
    height: 75px;
    top: -10px;
    left: 0px;
    background-color: #EBF0FF !important;
    ul {
        list-style-type: none;

        li {
            text-decoration: none;

            a {
                text-decoration: none;
            }
        }
    }

    .navInfo {
        margin-left: -10px;


    }
}

.UserIcon {
    width: 40px;
    height: 40px;
    background-image: url("./UserIcon.png");
    background-size: cover;
    cursor: pointer;
    margin-top: 20px;
}

.appTitle {
    position: absolute;
    width: 872px;
    height: 155px;
    left: 210px;
    top: 150px;

    font-family: 'Laila';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 155px;
    /* identical to box height */

    text-align: center;

    color: #5380EA;
}

.buttonTextLayout {
    padding-top: 5px;
    color: black;
    font-size: medium;
}

.openMenu {
    width: 150px;
    height: 78px;
    background-color: red;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    right: 20px;
    background-color: #aab5d4;


    .menuItem {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid rgb(109, 103, 103);

        &:hover {
            background-color: #244dbd;
        }

        .menuLink {
            margin-left: 5px;
            color: #FFFFFF;
        }
    }
}

.openMenuLogIn {
    width: 150px;
    height: 70px;
    position: absolute;
    border-radius: 10px;
    top: 65px;
    right: 20px;
    background-color: #aab5d4;
}

.backColor {
    &:hover {
        background-color: #244dbd !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}


.logoImg {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 45%;
    margin-top: -30px;
}
.nav-item {
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    position: relative;
}
.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}
.nav-item:not(.is-active):hover {
    color: #333;
}
.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    height: 1px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}
@media (max-width: 580px) {
    .nav {
        overflow: auto;
   }
}