%layout-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
$width-container:100%;
$length:50px;
.borderBottom {
    border: 2px solid #D3D8FF;
    transform: rotate(0.04deg);
}

.createSurveyContainer {
    width: $width-container;
    height: 600px;
    @extend %layout-center;
    margin-top: 100px;

    .createSurvey {
        width: 60%;
        height: 90%;
        background-color: #FFFFFF;
        border-radius: 15px;
    }

    .questionInput {
        width: 80%;
        height: 100%;
        margin-top: $length;
    }

    .addOption {
        width: $width-container;
        height: $length;
    }

    .createButtonContainer {
        width: $width-container;
        height: $length;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .createButton {
            background: #F27E97;
            border: 1px solid #F5DCD6;
            box-shadow: 0px 4px 24px #E49192;
            border-radius: 40px;
            padding-left: 50px;
            padding-right: 50px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            /* identical to box height */

            text-align: center;

            color: #000000;
        }
    }

}
.borderMenuBottom{
    width: $width-container;
    border-bottom: 2px solid #D3D8FF;
    position: fixed;
    top: 60px;
    margin-top:15px;
    
}