%button-shared {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: #E49192 1px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 24px rgba(240, 184, 13, 0.7);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}
 

%layout-shared {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}

%layout-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: auto;
}

.Home {
    width: 100%;
    height: 100px;
}

.Menu {
    //border-bottom: 2px solid #D3D8FF;
    margin-top: 10px;
    position: fixed;
    top: 0px;
    right: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
        margin-right: 20px;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: #6B6C6F;
        }
    }

    .signUpButton {
        @extend %button-shared;
        background-color: #F0B80D;

    }
}

.loginButton {
    @extend %button-shared;
    background-color: #E49192;
    box-shadow: 0px 4px 24px #E49192;
}

.create {
    width: 90%;
    height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    background-image: url("../style/resim.png");
    background-position: top;

    .createButton {
        transition: padding 0.2s;
        //text-decoration: none;

        &:hover {
            padding: 25px 25px 25px 25px;
            text-decoration: none;
        }

        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        background-color: #F6FBF8;
        color: #93ABE2;
        font-family: 'Laila';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        padding: 20px;
        box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border: none;
        margin-top: 100px;
    }
}

.about {
    width: 100%;
    height: 650px;
    //background-color: red;
    display: flex;
    flex-direction: row;
    //align-items: center;

    .imageAbout {
        width: 40%;
        height: 100%;
        background-image: url("../style/casual.png");
        background-position: top;
        background-size: cover;
        margin-top: 50px;
        margin-left: 50px;
    }

    .aboutText {
        width: 80%;
        height: 100%;
        background: rgba(84, 82, 82, 0.4);
        border-radius: 20px;
        opacity: 0.4;
    }

    .aboutTextContainer {
        width: 100%;
        height: 100%;
        @extend %layout-shared;
        //background-color: red;
    }

    .aboutTitle {
        font-family: 'Laila';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 78px;
        /* identical to box height */

        text-align: center;

        color: #000000;
    }
}

.surveySample {
    margin-top: 200px;

    .surveySampleTitle {
        width: 100%;
        height: 50px;
        @extend %layout-center;
        font-family: 'Laila';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 78px;
        text-align: center;
    }
}

.createSurvey {
    width: 100%;
    height: 100px;
    //background-color: red;
    @extend %layout-center;
    margin-top: 50px;

    .createSurveyTitle {
        font-family: 'Laila';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 62px;
        text-align: center;
    }

    .createSurveyButton {
        transition: padding 0.5s;

        &:hover {
            padding: 15px 55px 15px 55px;
        }

        background-color: #1B58E7;
        color: #FFFFFF;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        font-size: 15px;
        border: 1px solid #1B58E7;
        cursor: pointer;
        box-shadow: 0px 4px 50px #5380EA;
        margin-bottom: 20px;
    }
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    border-top: 2px solid #D3D8FF;

    ul {
        list-style-type: none;
        margin-top: 25px;

    
        a {
            cursor: pointer;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            text-align: center;
            margin-right: 20px;
            text-decoration: none;
        }
    }
}

.logoImage {
    width: 70px;
    height: 70px;
    margin-left: 210px;
}

.borderMenuBottom {
    width: 100%;
    border-bottom: 2px solid #D3D8FF;
    position: fixed;
    top: 80px;
}

.createSurveysaurus {
    position: absolute;
    top: 300px;
    right: 210px;
    color: rgba(242, 126, 151, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}